port 26379
dir "/tmp"
daemonize no
pidfile "/var/run/redis/redis-sentinel.pid"

sentinel monitor nl-ams-kwebbl {{groups['redis-master'][0]}} 6379 2
sentinel down-after-milliseconds nl-ams-kwebbl 400
sentinel failover-timeout nl-ams-kwebbl 1800
sentinel config-epoch nl-ams-kwebbl 185

logfile "/var/log/redis/sentinel.log"

